body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 20px 20%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background: #eee;
}

.title {
  display: block;
  font-size: 16px;
  padding: 6px 0;
}

.info {
  display: inline-block;
  margin-bottom: 6px;
}

.date-picker {
  display: inline-block;
  float: right;
}