body {
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  margin: 0;
}

.container {
  margin: 0 15%;
  padding: 10px;
  background-color: #eee;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  margin-bottom: 6px;
}

.row {
  margin: 6px 0;
}

.info {
  flex: 1;
  line-height: 21px;
}

.reverse {
  flex: 1;
}

.date-picker {
  flex: 1;
  text-align: end;
}

.secondary-text {
  color: #828282;
}